---
layout: default
---

{%-include back_link.html-%}

<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
  </p>
  
  <h1>{{ page.title }}</h1>

  {{ content }}
</article>

<h2 id="questions">Questions?</h2>
<p>I would be happy to answer any questions you have! <a href="mailto:poiasdpoiasd@live.com">You can contact me via email</a>, and <a href="/assets/pgp/Raghu_Saxena_poiasdpoiasd@live.com_0xA1E21ED06A67D28A.asc">please use my PGP key</a> to encrypt all communications.</p>